
@{
    ViewBag.Title = "Index";
}


<form action="Result" method="post">
    <input type="submit" value="Save" name="actin:Save" />
    <input type="submit" value="Cancel" name="action:Cancel" />
</form>

